In [4]:
import pandas as pd
import re
import string

In [2]:
data = pd.read_csv('../../Data/new_data.csv',index_col=False)

In [3]:
data.head()

                                          Tweet Text  Informativeness
0                                       Good morning                0
1  Where is Liloan Central Field and how do we ge...                0
2  Earthquake in Iloilo, Philippines! My head's a...                0
3   NEW Felt M7.0 - Bohol, Philippines - October ...                1
4   earthquake, km S of Nueva Vida Sur, Philippin...                1

In [14]:
data['Tweet Text'] =data['Tweet Text'].str.replace(':',"")

In [15]:
data.to_csv('../../Data/clean_data.csv',index=False)